<a href="https://colab.research.google.com/github/aarsanjani/meansquares/blob/master/Election_results_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This data is scrapped from NBCNews.com


* https://www.nbcnews.com/politics/2020-elections/president-results 

sample API for california state

* https://www.nbcnews.com/firecracker/api/results/2020-11-03/california-results

In [1]:
import pandas as pd

In [57]:
df = pd.read_json('https://www.nbcnews.com/firecracker/api/results/2020-11-03/alaska-results')
df.head()

                                        stateMapData  ... page
1  {'fill': '#D83434', 'candidates': [{'colorHex'...  ...  NaN
2  {'fill': '#D83434', 'candidates': [{'colorHex'...  ...  NaN
3  {'fill': '#D83434', 'candidates': [{'colorHex'...  ...  NaN
4  {'fill': '#0471E6', 'candidates': [{'colorHex'...  ...  NaN
5  {'fill': '#0471E6', 'candidates': [{'colorHex'...  ...  NaN

[5 rows x 6 columns]

In [22]:
df.shape

(81, 6)

In [23]:
length = len(df['stateMapData'][1]['candidates'])
lst = []

for candidate in df['stateMapData'][1]['candidates']:
  print(df.index[1])
  row = []
  print('--- Party: ',candidate['party'],' % of votes: ',candidate['percentOfVote'])

length

06003
--- Party:  Dem  % of votes:  64.2
06003
--- Party:  Rep  % of votes:  32.9
06003
--- Party:  Lib  % of votes:  2
06003
--- Party:  Wri  % of votes:  0.7000000000000001
06003
--- Party:  Grn  % of votes:  0.5
06003
--- Party:  Pfp  % of votes:  0.30000000000000004
06003
--- Party:  Aip  % of votes:  0

7

In [27]:
states = ['alabama','alaska','arizona','arkansas','california','colorado','connecticut','delaware','district-of-columbia','florida','georgia',
'hawaii','idaho','illinois','indiana','iowa','kansas','kentucky','louisiana','maine','maryland',
'massachusetts','michigan','minnesota','mississippi','missouri','montana','nebraska','nevada',
'new-hampshire','new-jersey','new-mexico''new-york','north-carolina','north-dakota','ohio','oklahoma','oregon','pennsylvania','rhode-island','south-carolina',
'south-dakota','tennessee','texas','utah','vermont','virginia','washington','west-virginia','wisconsin','wyoming']

state_fips = [1,2,4,5,6,8,9,10,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56,60,66,69,72,78]


print(len(state_fips))
len(states)

55

50

In [63]:
lst = []

for state in states:
  url = 'https://www.nbcnews.com/firecracker/api/results/2020-11-03/'+state+'-results'
  df = pd.read_json(url)
  #print(df.head())
  size = df.shape[0]
  for i in range(size):
    #print(df['stateMapData'][i])
    stateMapData = df['stateMapData'][i]

    if not pd.isna(stateMapData):
      #if i > 65: print(stateMapData)
      candidates = stateMapData['candidates']
      length = len(candidates)
      #print(stateMapData)
      #print(i, ' length ',length)
      row = []
      row.append(state)
      row.append(df.index[i])
      
      
      for candidate in df['stateMapData'][i]['candidates']:
        
      
        
        #print('--- Party: ',candidate['party'],' % of votes: ',candidate['percentOfVote'])

        
        if candidate['party'] == 'Dem':
          row.append(candidate['percentOfVote'])
        if candidate['party'] == 'Rep':
          row.append(candidate['percentOfVote'])
      
    lst.append(row)
    #break

In [64]:
print(len(lst))
lst[0]

5461

['alabama', '01001', 71.4, 27]

In [65]:
election_df = pd.DataFrame(lst,index=None,columns=['State','CFIPS','Dem_Vote_percent','Rep_Vote_percent'])
election_df.head(10)

     State  CFIPS  Dem_Vote_percent  Rep_Vote_percent
0  alabama  01001              71.4              27.0
1  alabama  01003              76.2              22.4
2  alabama  01005              53.5              45.8
3  alabama  01007              78.4              20.7
4  alabama  01009              89.6               9.6
5  alabama  01011              74.7              24.8
6  alabama  01013              57.5              41.8
7  alabama  01015              68.8              29.8
8  alabama  01017              57.3              41.6
9  alabama  01019              86.0              13.2

In [66]:
election_df.to_csv('election_results_2021.csv',index=False)