<a href="https://colab.research.google.com/github/aarsanjani/meansquares/blob/master/Hospitalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hospitalization

## Imports

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

## Load Data

In [ ]:
hospital_data_county = pd.read_csv('https://data.ca.gov/dataset/529ac907-6ba1-4cb7-9aae-8966fc96aeef/resource/42d33765-20fd-44b8-a978-b083b7542225/download/hospitals_by_county.csv')
hospital_data_county.head()

       county todays_date  ...  icu_suspected_covid_patients  icu_available_beds
0        Yuba  2020-03-29  ...                           4.0                 2.0
1  Stanislaus  2020-03-29  ...                           8.0                25.0
2   Riverside  2020-03-29  ...                          20.0                46.0
3        Napa  2020-03-29  ...                           NaN                 5.0
4       Marin  2020-03-29  ...                           6.0                11.0

[5 rows x 9 columns]

In [ ]:
hospital_data_county.shape

(7781, 9)

## Clean Data

In [ ]:
hospital_data_county_notna = hospital_data_county[hospital_data_county['hospitalized_covid_patients'].notna()]

In [ ]:
hospital_data_county_notna.head()

            county  ... icu_available_beds
1285     San Mateo  ...               33.0
1286  Contra Costa  ...               71.0
1287          Napa  ...                9.0
1288      Tuolumne  ...                3.0
1289       Ventura  ...               25.0

[5 rows x 9 columns]

In [ ]:
hospital_data_county_notna.shape

(6496, 9)

## Pre Process Data

In [ ]:
hospital_data_county.head()

       county todays_date  ...  icu_suspected_covid_patients  icu_available_beds
0        Yuba  2020-03-29  ...                           4.0                 2.0
1  Stanislaus  2020-03-29  ...                           8.0                25.0
2   Riverside  2020-03-29  ...                          20.0                46.0
3        Napa  2020-03-29  ...                           NaN                 5.0
4       Marin  2020-03-29  ...                           6.0                11.0

[5 rows x 9 columns]

In [ ]:
ignore_columns = ['county', 'todays_date', 'hospitalized_covid_patients', 'icu_covid_confirmed_patients', 'icu_suspected_covid_patients', 'icu_available_beds']
percent_suspected_covid_patients_positive = 1.00
complete = 0
hospital_data_county['Percent_positive_COVID_Hospital_BED'] = 0
hospital_data_county['beds_occupied'] = 0

Formula Used:

beds occupied = hospitalized_covid_patient + hospitalized_suspected_covid_patient + hospitalized_covid_confirmed_patients

Percent_positive_COVID_Hospital_BED = hospitalized_covid_confirmed_patients + (hospitalized_suspected_covid_patients * *percent that are actually positive*) / all_hospital_beds

In [ ]:
for index, row in hospital_data_county.iterrows():
  complete = (index / len(hospital_data_county)) * 100
  if (complete % 5 == 0):
    print("Percent Complete:", complete)
  
  for column in hospital_data_county.columns:
    if (column == 'hospitalized_covid_confirmed_patients'):
      hospitalized_covid_confirmed_patients = hospital_data_county[column][index]
    elif (column == 'hospitalized_suspected_covid_patients'):
      hospitalized_suspected_covid_patients = hospital_data_county[column][index]
    elif (column == 'hospitalized_covid_patients'):
      hospitalized_covid_patients = hospital_data_county[column][index]
    elif (column == 'all_hospital_beds'):
      all_hospital_beds = hospital_data_county[column][index]
      try:
        hospital_data_county['Percent_positive_COVID_Hospital_BED'][index] = (hospitalized_covid_confirmed_patients + (hospitalized_suspected_covid_patients * percent_suspected_covid_patients_positive) + hospitalized_covid_patients) / all_hospital_beds
        hospital_data_county['beds_occupied'][index] = hospitalized_covid_confirmed_patients + hospitalized_suspected_covid_patients + hospitalized_covid_patients
      except:
        hospital_data_county['Percent_positive_COVID_Hospital_BED'][index] = 'NaN'
        hospital_data_county['beds_occupied'][index] = hospitalized_covid_confirmed_patients + hospitalized_suspected_covid_patients + hospitalized_covid_patients

print("Percent Complete: 100.00")

Percent Complete: 0.0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: RuntimeWarning: invalid value encountered in double_scalars
  app.launch_new_instance()

Percent Complete: 100.00

In [ ]:
hospital_data_county.tail()

           county  ... beds_occupied
7776   Stanislaus  ...         486.0
7777    Calaveras  ...           8.0
7778  San Joaquin  ...         332.0
7779    El Dorado  ...           2.0
7780       Placer  ...         150.0

[5 rows x 11 columns]

In [ ]:
hospital_data_county['hospital_category'] = 6
for index, row in hospital_data_county.iterrows():
  value = hospital_data_county['Percent_positive_COVID_Hospital_BED'][index]
  if (value > 0.8):
    hospital_data_county['hospital_category'][index] = 5
  elif (value > 0.6 and value <= 0.8):
    hospital_data_county['hospital_category'][index] = 4
  elif (value > 0.4 and value <= 0.6):
    hospital_data_county['hospital_category'][index] = 3
  elif (value > 0.2 and value <= 0.4):
    hospital_data_county['hospital_category'][index] = 2
  else:
    hospital_data_county['hospital_category'][index] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
hospital_data_county.tail()

           county todays_date  ...  beds_occupied  hospital_category
7776   Stanislaus  2020-08-14  ...          486.0                  2
7777    Calaveras  2020-08-14  ...            8.0                  2
7778  San Joaquin  2020-08-14  ...          332.0                  2
7779    El Dorado  2020-08-14  ...            2.0                  1
7780       Placer  2020-08-14  ...          150.0                  2

[5 rows x 12 columns]

## Los Angeles County Data

In [ ]:
hospital_data_county_LA = hospital_data_county[hospital_data_county['county'] == 'Los Angeles']
hospital_data_county_LA.head()

          county todays_date  ...  beds_occupied  hospital_category
35   Los Angeles  2020-03-29  ...            NaN                  1
96   Los Angeles  2020-03-30  ...            NaN                  1
148  Los Angeles  2020-03-31  ...            NaN                  1
213  Los Angeles  2020-04-01  ...            NaN                  1
247  Los Angeles  2020-04-02  ...            NaN                  1

[5 rows x 12 columns]

In [ ]:
hospital_data_county_LA.tail()

           county todays_date  ...  beds_occupied  hospital_category
7546  Los Angeles  2020-08-10  ...         3968.0                  2
7558  Los Angeles  2020-08-11  ...         3902.0                  2
7636  Los Angeles  2020-08-12  ...         3774.0                  1
7702  Los Angeles  2020-08-13  ...         3826.0                  1
7729  Los Angeles  2020-08-14  ...         3826.0                  1

[5 rows x 12 columns]

## Counties with category 5 ranking

In [ ]:
hospital_data_county_category_5 = hospital_data_county[hospital_data_county['hospital_category'] == 5]
hospital_data_county_category_5.head()

          county todays_date  ...  beds_occupied  hospital_category
1312  Sacramento  2020-04-21  ...          186.0                  5
1354  Sacramento  2020-04-22  ...          140.0                  5
4040    Imperial  2020-06-09  ...          170.0                  5
4713    Imperial  2020-06-21  ...          190.0                  5
4798    Imperial  2020-06-22  ...          190.0                  5

[5 rows x 12 columns]