<a href="https://colab.research.google.com/github/aarsanjani/meansquares/blob/master/NY_baselineAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

New york state has reduced the Covid-19 cases. We have investigated the mask, social distancing, mobility data for NY state

In [1]:
!pip install wget

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9682 sha256=f88495f8e7db5864213ecda66edc0538b0dc4ba67da20a13f2aa68e844b90784
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import os
import wget
from pandas import Series, datetime
from pandas.plotting import scatter_matrix, autocorrelation_plot
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split, KFold, cross_val_score, GridSearchCV, TimeSeriesSplit
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.cluster import KMeans
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.metrics import roc_curve, auc
import random
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from xgboost import XGBClassifier
from sklearn.mixture import GaussianMixture

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## County Population

In [3]:
US_population_filename = wget.download('https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_county_population_usafacts.csv')
county_population_US = pd.read_csv(US_population_filename,low_memory=False)
print(county_population_US.shape)

county_population_US.head(2)

(3195, 4)

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869

In [4]:
ny_population = county_population_US[county_population_US['State'] == 'NY']
print(ny_population.shape)
ny_population.head(2)

(64, 4)

      countyFIPS                County Name State  population
1861           0      Statewide Unallocated    NY           0
1862           0  New York City Unallocated    NY           0

In [5]:
ny_population['County Name'].unique()

array(['Statewide Unallocated', 'New York City Unallocated',
       'Albany County', 'Allegany County', 'Bronx County',
       'Broome County', 'Cattaraugus County', 'Cayuga County',
       'Chautauqua County', 'Chemung County', 'Chenango County',
       'Clinton County', 'Columbia County', 'Cortland County',
       'Delaware County', 'Dutchess County', 'Erie County',
       'Essex County', 'Franklin County', 'Fulton County',
       'Genesee County', 'Greene County', 'Hamilton County',
       'Herkimer County', 'Jefferson County', 'Kings County',
       'Lewis County', 'Livingston County', 'Madison County',
       'Monroe County', 'Montgomery County', 'Nassau County',
       'New York County', 'Niagara County', 'Oneida County',
       'Onondaga County', 'Ontario County', 'Orange County',
       'Orleans County', 'Oswego County', 'Otsego County',
       'Putnam County', 'Queens County', 'Rensselaer County',
       'Richmond County', 'Rockland County', 'St. Lawrence County',
       'Saratoga County', 'Schenectady County', 'Schoharie County',
       'Schuyler County', 'Seneca County', 'Steuben County',
       'Suffolk County', 'Sullivan County', 'Tioga County',
       'Tompkins County', 'Ulster County', 'Warren County',
       'Washington County', 'Wayne County', 'Westchester County',
       'Wyoming County', 'Yates County'], dtype=object)

In [6]:
queens_county_population = ny_population[ny_population['County Name'] == 'Queens County']
queens_county_population

      countyFIPS    County Name State  population
1903       36081  Queens County    NY     2253858

## Land Area

In [7]:
landarea_filename = wget.download('https://raw.githubusercontent.com/ykzeng/covid-19/master/data/census-landarea-all.csv')
landarea_data = pd.read_csv(landarea_filename,low_memory=False)
print(landarea_data.shape)

(3195, 52)

In [8]:
landarea_data.head(2)

   fips  PST045212  PST040210  ...  BPS030212   LND110210  POP060210
0     0  313914040  308747508  ...     829658  3531905.43       87.4
1  1000    4822023    4779745  ...      13506    50645.33       94.4

[2 rows x 52 columns]

In [9]:
landarea_data['fips'].unique()

array([    0,  1000,  1001, ..., 56041, 56043, 56045])

In [10]:
#LND110210

landarea_data[landarea_data['fips'] == 36081]['LND110210']

1902    108.53
Name: LND110210, dtype: float64

## Mask data

In [11]:
mask_filename = wget.download('https://raw.githubusercontent.com/nytimes/covid-19-data/master/mask-use/mask-use-by-county.csv')
mask_filename

'mask-use-by-county.csv'

In [12]:

mask_data = pd.read_csv(mask_filename,low_memory=False)
print(mask_data.shape)

(3142, 6)

In [13]:
mask_data.head()

   COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459

In [14]:
mask_data[mask_data['COUNTYFP'] == 36081]

      COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
1868     36081  0.022   0.023      0.068       0.136   0.751

## Mobility Data

### Google mobility data

In [15]:
google_data_url = 'https://raw.githubusercontent.com/ActiveConclusion/COVID19_mobility/master/google_reports/mobility_report_US.csv'

google_filename = wget.download(google_data_url)
google_mobility_data = pd.read_csv(google_filename,low_memory=False)
google_mobility_data.head(2)

   state county        date  ...  transit stations  workplaces  residential
0  Total  Total  2020-02-15  ...               3.0         2.0         -1.0
1  Total  Total  2020-02-16  ...               2.0         0.0         -1.0

[2 rows x 9 columns]

In [16]:
NY_GoogleMobility_data = google_mobility_data[google_mobility_data['state'] == 'New York']
print(NY_GoogleMobility_data.shape)
NY_GoogleMobility_data.tail(2)

(11098, 9)

           state        county  ... workplaces  residential
284597  New York  Yates County  ...      -24.0          NaN
284598  New York  Yates County  ...      -24.0          NaN

[2 rows x 9 columns]

### Apple mobility data

In [17]:
apple_report_url = 'https://raw.githubusercontent.com/ActiveConclusion/COVID19_mobility/master/apple_reports/apple_mobility_report_US.csv'

apple_filename = wget.download(apple_report_url)
apple_mobility_data = pd.read_csv(apple_filename,low_memory=False)
apple_mobility_data.tail(2)

          state county_and_city geo_type        date  driving  transit  walking
478270  Wyoming    Uinta County   county  2020-08-12   268.83      NaN      NaN
478271  Wyoming    Uinta County   county  2020-08-13   315.41      NaN      NaN

In [18]:
NY_AppleMobility_data = apple_mobility_data[apple_mobility_data['state'] == 'New York']
print(NY_AppleMobility_data.shape)
NY_AppleMobility_data.tail(2)

(14204, 7)

           state county_and_city geo_type  ... driving  transit  walking
275810  New York    Yates County   county  ...  290.56      NaN      NaN
275811  New York    Yates County   county  ...  303.29      NaN      NaN

[2 rows x 7 columns]

In [19]:
NY_AppleMobility_data['county'] = NY_AppleMobility_data['county_and_city']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
NY_AppleMobility_data = NY_AppleMobility_data[['state','county','date','driving','transit','walking']]

NY_AppleMobility_data.tail(2)

           state        county        date  driving  transit  walking
275810  New York  Yates County  2020-08-12   290.56      NaN      NaN
275811  New York  Yates County  2020-08-13   303.29      NaN      NaN

In [21]:
NY_mobility_data = pd.merge(NY_GoogleMobility_data,NY_AppleMobility_data,how='outer' ,on=['state','county','date'])
NY_mobility_data.shape

(14328, 12)

In [22]:
NY_mobility_data = NY_mobility_data.fillna(0)
NY_mobility_data.tail()

          state        county        date  ...  driving  transit  walking
14323  New York  Yates County  2020-02-12  ...    33.30      0.0      0.0
14324  New York  Yates County  2020-02-13  ...    30.28      0.0      0.0
14325  New York  Yates County  2020-02-14  ...    78.01      0.0      0.0
14326  New York  Yates County  2020-08-12  ...   290.56      0.0      0.0
14327  New York  Yates County  2020-08-13  ...   303.29      0.0      0.0

[5 rows x 12 columns]

### Queens county mobility data

In [23]:
queens_mobility_data = NY_mobility_data[NY_mobility_data['county'] == 'Queens County']
print(queens_mobility_data.shape)
queens_mobility_data.tail()

(214, 12)

          state         county        date  ...  driving  transit  walking
13129  New York  Queens County  2020-02-12  ...     3.27      0.0      0.0
13130  New York  Queens County  2020-02-13  ...    14.60      0.0      0.0
13131  New York  Queens County  2020-02-14  ...    34.10      0.0      0.0
13132  New York  Queens County  2020-08-12  ...    26.37      0.0      0.0
13133  New York  Queens County  2020-08-13  ...    26.34      0.0      0.0

[5 rows x 12 columns]

In [24]:
queens_mobility_data.head()

         state         county        date  ...  driving  transit  walking
7160  New York  Queens County  2020-02-15  ...    15.43      0.0      0.0
7161  New York  Queens County  2020-02-16  ...    -2.23      0.0      0.0
7162  New York  Queens County  2020-02-17  ...     1.85      0.0      0.0
7163  New York  Queens County  2020-02-18  ...     4.02      0.0      0.0
7164  New York  Queens County  2020-02-19  ...     5.73      0.0      0.0

[5 rows x 12 columns]

## Social Distancing metric

In [28]:
socialdistancing_url = 'https://raw.githubusercontent.com/descarteslabs/DL-COVID-19/master/DL-us-mobility-daterow.csv'

socialdistancing_file = wget.download(socialdistancing_url)
socialdistancing_data = pd.read_csv(socialdistancing_file,low_memory=False)
socialdistancing_data.tail(2)

              date country_code  admin_level  ... samples    m50  m50_index
437898  2020-08-10           US            2  ...     699  5.901        188
437899  2020-08-11           US            2  ...     722  5.796        185

[2 rows x 9 columns]

In [29]:
newyork_socialdistancing_data= socialdistancing_data[(socialdistancing_data['admin1']=='New York') &
                                           (socialdistancing_data['admin_level']== 2)]

newyork_socialdistancing_data.head()

              date country_code  admin_level  ... samples    m50  m50_index
254507  2020-03-01           US            2  ...    4095  2.616         54
254508  2020-03-02           US            2  ...    4376  4.680         97
254509  2020-03-03           US            2  ...    4686  4.778        100
254510  2020-03-04           US            2  ...    4842  4.486         93
254511  2020-03-05           US            2  ...    4548  5.129        107

[5 rows x 9 columns]

In [30]:
queens_social_distancing = newyork_socialdistancing_data[newyork_socialdistancing_data['admin2'] == 'Queens County']
print(queens_social_distancing.shape)
queens_social_distancing.head()

(162, 9)

              date country_code  admin_level  ... samples    m50  m50_index
260825  2020-03-01           US            2  ...   26218  1.339         35
260826  2020-03-02           US            2  ...   27435  3.813         99
260827  2020-03-03           US            2  ...   28459  3.747         98
260828  2020-03-04           US            2  ...   29480  3.822         99
260829  2020-03-05           US            2  ...   27602  4.052        106

[5 rows x 9 columns]

# Merge All

In [ ]:
full_table = confirmed_df_long.merge(
    right=death_df_long,
    how='left',
    on=[ 'UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key','Date']
)

full_table.head(10)

        UID iso2 iso3  code3  ...     Date Confirmed Population Deaths
0  84001001   US  USA    840  ...  1/22/20         0      55869      0
1  84001003   US  USA    840  ...  1/22/20         0     223234      0
2  84001005   US  USA    840  ...  1/22/20         0      24686      0
3  84001007   US  USA    840  ...  1/22/20         0      22394      0
4  84001009   US  USA    840  ...  1/22/20         0      57826      0
5  84001011   US  USA    840  ...  1/22/20         0      10101      0
6  84001013   US  USA    840  ...  1/22/20         0      19448      0
7  84001015   US  USA    840  ...  1/22/20         0     113605      0
8  84001017   US  USA    840  ...  1/22/20         0      33254      0
9  84001019   US  USA    840  ...  1/22/20         0      26196      0

[10 rows x 15 columns]

# Formula Computation from Baseline Value

## For Social Distancing Metric

In [59]:
start_date = '2020-05-05'
end_date = '2020-05-13'
start_date = '2020-02-17'
end_date = '2020-03-07'
mask = (queens_social_distancing['date'] >= start_date) & (queens_social_distancing['date'] <= end_date)

In [60]:
df_queens_social_distancing =  queens_social_distancing.loc[mask]
df_queens_social_distancing

              date country_code  admin_level  ... samples    m50  m50_index
260825  2020-03-01           US            2  ...   26218  1.339         35
260826  2020-03-02           US            2  ...   27435  3.813         99
260827  2020-03-03           US            2  ...   28459  3.747         98
260828  2020-03-04           US            2  ...   29480  3.822         99
260829  2020-03-05           US            2  ...   27602  4.052        106
260830  2020-03-06           US            2  ...   27713  3.921        102
260831  2020-03-07           US            2  ...   27919  2.189         57

[7 rows x 9 columns]

In [61]:
queens_social_distancing_base = (
    df_queens_social_distancing
    .pipe(lambda x: x.assign(gains_pctg=x["m50"]))
    .groupby(['admin1','admin2','fips'])
    .agg({"gains_pctg": "median"})
    .reset_index()
    .rename(columns={"gains_pctg": "m50"})
)
queens_social_distancing_base

     admin1         admin2     fips    m50
0  New York  Queens County  36081.0  3.813

In [56]:
queens_social_distancing_base.at[0,'m50']

0.02

computing formula : m50_baseline = 100 * m50/queens_social_distancing_base.at[0,'m50']

In [62]:
socialdistancing_data['m50_baseline'] = socialdistancing_data['m50'].apply(lambda x: 100 * (x/queens_social_distancing_base.at[0,'m50']))

In [63]:
socialdistancing_data[socialdistancing_data['admin1'] == 'California']

             date country_code  admin_level  ...    m50 m50_index  m50_baseline
26590  2020-03-01           US            1  ...  4.122        60    108.103855
26591  2020-03-02           US            1  ...  6.725        98    176.370312
26592  2020-03-03           US            1  ...  6.842       100    179.438762
26593  2020-03-04           US            1  ...  6.827        99    179.045371
26594  2020-03-05           US            1  ...  7.270       106    190.663520
...           ...          ...          ...  ...    ...       ...           ...
35425  2020-08-07           US            2  ...  5.792        61    151.901390
35426  2020-08-08           US            2  ...  3.720        39     97.560976
35427  2020-08-09           US            2  ...  1.465        15     38.421191
35428  2020-08-10           US            2  ...  4.869        51    127.694729
35429  2020-08-11           US            2  ...  5.174        54    135.693680

[8840 rows x 10 columns]