<a href="https://colab.research.google.com/github/aarsanjani/meansquares/blob/master/Industry_Employment_within_California_Counties.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
california_industry_employment = pd.read_csv('https://data.edd.ca.gov/api/views/nt76-4rha/rows.csv',low_memory=False)
print(california_industry_employment.shape)

(762990, 8)

In [ ]:
california_industry_employment.head()

  Area Type       Area Name  ...  Seasonally Adjusted Current Employment
0    County  Alameda County  ...                    N              61800
1    County  Alameda County  ...                    N              95300
2    County  Alameda County  ...                    N             110700
3    County  Alameda County  ...                    N              68500
4    County  Alameda County  ...                    N              35200

[5 rows x 8 columns]

In [ ]:
california_industry_employment_2020 = california_industry_employment[california_industry_employment['Year'] == 2020]
california_industry_employment_2020.tail()

       Area Type       Area Name  ...  Seasonally Adjusted Current Employment
161193    County  Ventura County  ...                    N              47300
161194    County  Ventura County  ...                    N              16100
161195    County  Ventura County  ...                    N              17000
161196    County  Ventura County  ...                    N               5100
161197    County  Ventura County  ...                    N               7700

[5 rows x 8 columns]

In [ ]:
california_industry_employment_2020.shape

(10062, 8)

In [ ]:
county_fips = pd.read_csv('https://raw.githubusercontent.com/kjhealy/fips-codes/master/county_fips_master.csv', encoding='latin-1')
county_fips.head()

   fips     county_name state_abbr  ... crosswalk region_name       division_name
0  1001  Autauga County         AL  ...   3-6-1-1       South  East South Central
1  1003  Baldwin County         AL  ...   3-6-1-3       South  East South Central
2  1005  Barbour County         AL  ...   3-6-1-5       South  East South Central
3  1007     Bibb County         AL  ...   3-6-1-7       South  East South Central
4  1009   Blount County         AL  ...   3-6-1-9       South  East South Central

[5 rows x 13 columns]

In [ ]:
county_fips = county_fips[county_fips['state_name'] == 'California']
county_fips.head()

     fips       county_name state_abbr  ... crosswalk region_name  division_name
187  6001    Alameda County         CA  ...   4-9-6-1        West        Pacific
188  6003     Alpine County         CA  ...   4-9-6-3        West        Pacific
189  6005     Amador County         CA  ...   4-9-6-5        West        Pacific
190  6007      Butte County         CA  ...   4-9-6-7        West        Pacific
191  6009  Calaveras County         CA  ...   4-9-6-9        West        Pacific

[5 rows x 13 columns]

In [ ]:
county_fips = county_fips.drop(['long_name', 'sumlev', 'region', 'division', 'state', 'county', 'crosswalk', 'region_name', 'division_name'], axis=1)
county_fips.head()

     fips       county_name state_abbr  state_name
187  6001    Alameda County         CA  California
188  6003     Alpine County         CA  California
189  6005     Amador County         CA  California
190  6007      Butte County         CA  California
191  6009  Calaveras County         CA  California

In [ ]:
california_industry_employment_2020_fips = california_industry_employment_2020.merge(county_fips, left_on='Area Name', right_on='county_name')
california_industry_employment_2020_fips.head()

  Area Type    Area Name  Year  ...  county_name  state_abbr  state_name
0    County  Kern County  2020  ...  Kern County          CA  California
1    County  Kern County  2020  ...  Kern County          CA  California
2    County  Kern County  2020  ...  Kern County          CA  California
3    County  Kern County  2020  ...  Kern County          CA  California
4    County  Kern County  2020  ...  Kern County          CA  California

[5 rows x 12 columns]

In [ ]:
california_industry_employment_2020_fips.shape

(10062, 12)

In [ ]:
california_industry_employment_2020_june_fips = california_industry_employment_2020_fips[california_industry_employment_2020_fips['Month'] == 'June']

In [ ]:
california_industry_employment_2020_june_fips = california_industry_employment_2020_june_fips.drop(['Area Name'],axis=1)
california_industry_employment_2020_june_fips.head()

    Area Type  Year Month  ...  county_name state_abbr  state_name
169    County  2020  June  ...  Kern County         CA  California
281    County  2020  June  ...  Kern County         CA  California
282    County  2020  June  ...  Kern County         CA  California
283    County  2020  June  ...  Kern County         CA  California
284    County  2020  June  ...  Kern County         CA  California

[5 rows x 11 columns]